.Modal {
  position: fixed;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  width: 70%;
  color: var(--secondary);
  padding: var(--spacing);
  border: 1px solid var(--dark);
  border-radius: var(--radius);
  background-color: var(--primary);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  z-index: 500;
  transition: all 0.3s ease-out;
}
