.Quiz {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.QuestionsContainer {
  flex: 1;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.QuestionContainer {
  margin-bottom: var(--spacing);
}

.ActiveQuestion {
  padding: var(--spacing);
  background: #abd1c61a;
  border-radius: var(--radius);
}

.InputContainer {
  padding: var(--spacing);
}

.Footer {
  padding: var(--spacing);
  text-align: center;
}
